@import "~taro-ui/dist/style/variables/default.scss";
@import "~taro-ui/dist/style/mixins/libs/hairline.scss";

$padding: 16px;

.info {
  position: relative;
  box-sizing: border-box;
  width: 94%;
  padding: $padding 24px;
  background: #ffffff;
  margin: $padding auto;
  border-radius: 16px;
  box-shadow: 2px 2px 10px #eee;
  font-size: 32px;
  overflow: hidden;
  .strong {
    color: #ff411e;
  }
  &-tag {
    position: absolute;
    right: -64px;
    top: 24px;
    width: 200px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background: #ff411e;
    color: #ffffff;
    transform: rotateZ(45deg);
    font-size: 24px;
  }
  .expired-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    transform: translateY(-50%);
    background: url('~@/assets/images/expired.png') no-repeat center;
    background-size: 100%;
    z-index: 50;
  }
  &-city {
    @include hairline-bottom();
    padding-bottom: $padding;
    &--item {
      display: flex;
      align-items: center;
      &:last-of-type {
        margin-top: $padding;
      }
      .label {
        display: inline-block;
        width: 36px;
        height: 36px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin-right: 10px;
        color: #fff;
        border-radius: 50%;
        &.start {
          background: #40d09f;
        }
        &.end {
          background: #ff411e;
        }
      }
    }
    .line {
      width: 4px;
      height: 20px;
      margin:6px 0 6px 14px;
      background: url('~@/assets/images/circle-line.png') center no-repeat;
      background-size: 100%;
    }
  }
  .info-detail {
    padding: $padding 0;
    line-height: 42px;
    &--main {
      display: flex;
      justify-content: space-between;
      &__left {
        font-size: 30px;
        .time {
          margin-left: 10px;
          vertical-align: middle;
          &::after {
            content: '|';
            margin: 0 $padding;
            color: #666666;
          }
        }
      }
      &__right {
        text-align: right;
        color: #ff411e;
      }
    }
    &--extra {
      color: #666666;
      font-size: 28px;
      overflow: hidden;
      text-overflow: ellipsis;
      .label {
        margin-right: 10px;
      }
    }
  }
    
  .info-user {
    display: flex;
    justify-content: space-between;
    .name {
      margin-left: 10px;
      vertical-align: middle;
    }
    .at-button--secondary {
      border: 0;
    }
    .buttons {
      display: flex;
      at-button + at-button {
        margin-left: 30px;
      }
    }
  }
}