/* Custom Theme */
$color-brand: #fcdf1a;
$color-brand-light: #fde753;
$color-brand-dark: #cab215;
$color-button: #ff411e;
$color-border-base: #eeeeee !default;
$at-button-color: $color-button !default;
$at-button-border-color-primary: $color-button !default;
$at-button-border-color-secondary: $color-button !default;