.page {
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 32px 0;
    background: #2577e3;
    margin-bottom: 20px;
    color: #fff;
    .at-avatar {
      margin-bottom: 20px;
    }
  }
}