page {
  background: #ffffff;
}
.detail {
  &-main {
    background: #fcdf1a;
    padding: 40px;
    &__header {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      .arrow {
        width: 160px;
        height: 40px;
      }
      .name {
        flex: 1;
      }
    }
    &__body {
      text-align: center;
      margin-top: 50px;
    }
  }
  .share-btns {
    text-align: center;
    button {
      display: inline-block;
      background: transparent;
      line-height: 0;
      &::after {
        border: 0;
      }
    }
    image {
      width: 100px;
      height: 100px;
      & + image {
        margin-left: 50px;
      }
    }
  }
  &.expired {
    .detail-main {
      background: #fcdf1a url('~@/assets/images/expired.png') no-repeat 60% center;
      background-size: 160px 160px;
    }
  }
}