page {
  background: #ffffff;
}
.detail {
  &-header {
    position: relative;
    background: #2577e3;
    color: #ffffff;
    padding: 40px;
    &__city {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      .arrow {
        width: 160px;
        height: 40px;
      }
      .name {
        flex: 1;
      }
    }
    &__time {
      text-align: center;
      margin-top: 50px;
      .at-icon {
        vertical-align: middle;
        font-size: 28px;
        margin-left: 10px;
      }
    }
    .expired-icon {
      position: absolute;
      bottom: -50%;
      left: 40%;
      width: 260px;
      height: 260px;
      background: url('~@/assets/images/expired.png') no-repeat center;
      background-size: 100%;
      z-index: 50;
    }
  }
  &-body {
    width: 80%;
    margin: 50px auto 0;
    &__item {
      display: flex;
      justify-content: space-between;
      line-height: 42px;
      margin-bottom: 20px;
      &--title {
        width: 160px;
        color: #999999;
        margin-right: 50px;
      }
      &--content {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        text {
          text-align: left;
        }
      }
    }
  }
  .share-btns {
    text-align: center;
    button {
      display: inline-block;
      background: transparent;
      height: 150px;
      line-height: 0;
      &::after {
        border: 0;
      }
      .text {
        margin-top: 20px;
        font-size: 24px;
      }
    }
    image {
      width: 100px;
      height: 100px;
      & + image {
        margin-left: 50px;
      }
    }
  }
  .home-btn {
    width: 50%;
    margin: 120px auto 0;
  }
  &.expired {
    color: #ccc !important;
    .detail-body__item--title {
      color: #ccc;
    }
  }
}
