@import "~taro-ui/dist/style/variables/default.scss";
@import "~taro-ui/dist/style/mixins/libs/hairline.scss";

.form-picker {
  position: relative;
  padding: 24px 0;
  color: #333;
  background-color: #FFF;
  margin-left: 32px;
  margin-bottom: 1PX;
  @include hairline-bottom();
  &__container {
    display: flex;
    align-items: center;
  }
  &__title {
    margin-right: 16px;
    width: 172px;
    font-size: 32px;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
  }
  &__content {
    flex: 1;
    display: inline-block;
    padding-right: 18px;
    color: #333;
    font-size: 32px;
    line-height: 1.5;
    vertical-align: middle;
    height: 44.8px;
    &.placeholder {
      color: #CCC;
    }
  }
}
