@import "~taro-ui/dist/style/variables/default.scss";
@import "~taro-ui/dist/style/mixins/libs/hairline.scss";

.form-picker {
  position: relative;
  padding: 24px 0;
  color: #333;
  background-color: #FFF;
  margin-left: 32px;
  margin-bottom: 1PX;
  @include hairline-bottom();
  &__container {
    display: flex;
    align-items: center;
  }
  &__title {
    margin-right: 16px;
    width: 172px;
    font-size: 32px;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
  }
  &__content {
    flex: 1;
    display: inline-block;
    vertical-align: middle;
    color: $at-input-text-color;
    padding-right: $spacing-v-md;
    font-size: $at-input-font-size;
    height: $at-input-font-size * 1.4;
    line-height: $line-height-zh;
    &.placeholder {
      color: $at-input-placeholder-color;
    }
  }
}
