.no-data {
  width: 280px;
  margin: 160px auto 0;
  text-align: center;
  image {
    width: 160px;
    height: 160px;
  }
  .text {
    font-size: 24px;
    margin: 30px 0;
    color: #666666;
  }
}