@import "~taro-ui/dist/style/variables/default.scss";
@import "~taro-ui/dist/style/mixins/libs/hairline.scss";

.form {
  padding-bottom: 100px;
  &-card {
    &__title {
      height: 80px;
      line-height: 100px;
      padding-left: 32px;
      font-size: 28px;
      background-color: #f5f5f5;
      color: #999999;
      margin-top: -1PX;
    }
    &__main {
      @include hairline-top-bottom();
      .at-textarea {
        border: none;
        padding: 32px;
      }
      .at-input--disabled {
        opacity: 1;
      }
      .map-text {
        font-size: $at-input-font-size;
        padding: 0 4px;
      }
    }
  }
  .submit-btn {
    padding: 0 5%;
    margin-top: 60px;
  }
}

.at-modal__content {
  min-height: auto;
  text-align: center;
}
