@import "~taro-ui/dist/style/variables/default.scss";
@import "~taro-ui/dist/style/mixins/libs/hairline.scss";

page {
  background: #ffffff;
}
.page {
  padding: 20px 0;
  .tip {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 4px;
    font-size: 24px;
    background: #e0e5ec;
    color: #999999;
    navigator {
      display: inline;
      color: $at-button-color;
    }
  }
  .tools {
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      border-radius: 20px;
      margin: 0 50px;
      height: 100px;
      color: #ffffff;
      image {
        width: 80px;
        height: 80px;
        margin-right: 10px;
      }
    }
    .at-col {
      &:nth-child(1) {
        .tools-item {
          background-color: #ff411e;
        }
      }
      &:nth-child(2) {
        .tools-item {
          background-color: #fba81e;
        }
      }
    }
  }
}